.candidate-card {
  padding: 20px;
  margin: 60px 10px;
  height: fit-content;
  min-height: calc(100vh - 180px);
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 34, 41, 0.05);
  border-radius: 10px;
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-areas:
    'ava info response'
    'description description response';
  grid-template-columns: 235px 255px 255px;
  grid-template-rows: 303px auto;

  .candidate-ava {
    position: relative;
    grid-area: ava;
    width: 235px;
    height: 302px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
  }

  .candidate-info {
    grid-area: info;
    width: 255px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .favorite-icon {
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
    }
  }
  .candidate-response {
    height: fit-content;
    grid-area: response;
    padding: 10px;
    background: rgba(213, 222, 222, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  .candidate-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1720px) {
  .candidate-card {
    grid-template-areas:
      'ava info'
      'description response';
    grid-template-columns: 235px 255px;
    grid-template-rows: 303px auto;
  }
}

@media (max-width: 758px) {
  .candidate-card {
    width: 100%;
    min-width: 0;
    padding: 10px;
    margin: 20px 5px;
    grid-template-areas:
      'ava'
      'info'
      'description'
      'response';
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;

    .candidate-ava,
    .candidate-info {
      width: 100%;
    }
  }
}
