.search-waiters {
  .map-containee {
    flex-shrink: 1;
  }
}
@media (max-width: 758px) {
  .search-waiters {
    width: 100%;
    padding: 0 12px;
    overflow-y: auto !important;
    > .f-shrink-1 {
      display: none;
    }

    > div {
      width: 100% !important;

      .ml-10 {
        margin-left: 0;
      }
    }

    .map-container {
      width: 100% !important;

      .map-inner-container {
        width: 100% !important;
      }
    }

    .CandidateInfo {
      width: 100%;

      > .absolute svg {
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      }

      .buttons {
        flex-wrap: wrap;
        > div {
          width: 100% !important;
        }
      }

      .main-info {
        flex-wrap: wrap;
        img {
          width: 100% !important;
          height: auto !important;
          object-fit: cover;
        }
        > div {
          margin: 0;
        }
      }
    }

    .list-header {
      padding: 16px;
      width: 100%;
      height: auto;
    }
  }

  .waiter-info {
    .mt-60 {
      margin-top: 0px;
    }
  }
}
