// unit
$unit: 0.0520833;
$unit_mobile: 0.2325;

// colors

$blue: #038ca9;
$black: #002229;
$bright_grey: rgb(249, 249, 250);
$ghost: #f9f9fa;
$green: #1ccd83;
$grey: #868f90;
$light_grey: #d5dede;
$inactive: rgba(134, 143, 144, 0.7);
$red: #ff5050;
$white: #ffffff;
