@media (max-width: 758px) {
  .my-vacancies {
    padding-left: 16px;
    padding-right: 16px;

    .vacancies-navaigation {
      width: 100% !important;
    }

    .vacancy-list-container {
      width: 100%;
    }

    .select-vacancy,
    .select-waiter {
      width: 100% !important;

      .SubtitleB {
        margin-left: 10px;
      }

      .ph-20 {
        padding-left: 5px;
        padding-right: 5px;
      }

      .h-50 {
        height: 70px;
      }

      .mini-card {
        width: 100% !important;
      }
    }
    .detail-info-container {
      margin-top: 10px;
    }
  }

  .vacancy-creation {
    padding: 20px 16px !important;

    .card {
      padding-left: 10px;
      padding-right: 10px;
    }

    .H1 {
      font-size: 28px;
      line-height: 30px;
    }
    .creation-footer .custom-button {
      flex-shrink: 1;
      width: 120px !important;
    }
    .publication-footer .custom-button {
      flex-shrink: 1;
      width: 150px !important;
      margin-top: 3px;
      margin-bottom: 3px;
      height: 44px;
    }

    .answer-area {
      width: 100% !important;
    }

    .preview-close-button {
      position: absolute;
      width: fit-content !important;
      top: 20px;
      right: 20px;
    }
  }
}
