@media (max-width: 758px) {
  .my-company {
    padding: 10px;

    .base-info {
      width: 100% !important;
      padding: 12px;
      flex-wrap: wrap;
      img {
        width: 100% !important;
        height: auto !important;
        object-fit: cover;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
