@media (max-width: 758px) {
  .create-my-company {
    padding: 10px !important;

    &-card {
      width: 100% !important;
      padding: 12px;
      flex-wrap: wrap;

      .mr-30 {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}
